.vs/
/XamarinPhoneContact/bin/Debug/net8.0-android
/XamarinPhoneContact/obj/.cache
/XamarinPhoneContact/obj/Debug/net8.0-android
/XamarinPhoneContact/obj/Debug/net8.0-ios/iossimulator-x64
XamarinPhoneContact/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
XamarinPhoneContact/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/XamarinPhoneContact.AssemblyInfo.cs
XamarinPhoneContact/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/XamarinPhoneContact.AssemblyInfoInputs.cache
XamarinPhoneContact/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/XamarinPhoneContact.assets.cache
XamarinPhoneContact/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/XamarinPhoneContact.csproj.AssemblyReference.cache
XamarinPhoneContact/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/XamarinPhoneContact.GeneratedMSBuildEditorConfig.editorconfig
XamarinPhoneContact/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/XamarinPhoneContact.GlobalUsings.g.cs
XamarinPhoneContact/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/XamarinPhoneContact.nfloat.g.cs
XamarinPhoneContact/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
*.inputs
/XamarinPhoneContact/obj/Debug/net8.0-windows10.0.19041.0/win10-x64
/XamarinPhoneContact/obj
/XamarinPhoneContact
XamarinPhoneContact/XamarinPhoneContact.csproj.user
*.user
XamarinPhoneContact/XamarinPhoneContact.csproj.user
/MauiPhoneContactLibrary/bin/Debug/net8.0-android
/MauiPhoneContactLibrary/bin/Debug/net8.0-ios
/MauiPhoneContactLibrary/bin/Debug/net8.0-maccatalyst
/MauiPhoneContactLibrary/bin/Debug/net8.0-windows10.0.19041.0
/MauiPhoneContactLibrary/obj/Debug/net8.0-android
/MauiPhoneContactLibrary/obj/Debug/net8.0-ios
/MauiPhoneContactLibrary/obj/Debug/net8.0-maccatalyst
/MauiPhoneContactLibrary/obj/Debug/net8.0-windows10.0.19041.0
/MauiPhoneContactLibrary/obj
/MauiPhoneContactLibraryTestPjt/obj
/MauiPhoneContactLibrary/bin
/MauiPhoneContactLibraryTestPjt/bin/Debug/net8.0-android
/MauiPhoneContactLibraryTestPjt/bin/Debug/net8.0-maccatalyst/maccatalyst-x64/ar
*.dll
*.a
*.json
*.dat
*.dylib
*.pdb
*.exe
*.aab
MauiPhoneContactLibraryTestPjt/bin/Release/net8.0-android/com.test.pjt-Signed.apk
MauiPhoneContactLibraryTestPjt/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/resources.pri
MauiPhoneContactLibraryTestPjt/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/Platforms/Windows/App.xbf
MauiPhoneContactLibraryTestPjt/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/MauiPhoneContactLibraryTestPjt.build.appxrecipe
MauiPhoneContactLibraryTestPjt/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppxManifest.xml
/XamarinPhoneContact.Forms.kk/obj/Release/net8.0-android
/XamarinPhoneContact.Forms.kk/obj/Release/net8.0-ios
/XamarinPhoneContact.Forms.kk/obj/Release/net8.0-iost
/XamarinPhoneContact.Forms.kk/obj/Release/net8.0-maccatalyst
/XamarinPhoneContact.Forms.kk/obj/Release/net8.0-windows10.0.19041.0
/XamarinPhoneContact.Forms.kk/obj
