.vs/
/XamarinPhoneContact/bin/Debug/net8.0-android
/XamarinPhoneContact/obj/.cache
/XamarinPhoneContact/obj/Debug/net8.0-android
/XamarinPhoneContact/obj/Debug/net8.0-ios/iossimulator-x64
XamarinPhoneContact/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
XamarinPhoneContact/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/XamarinPhoneContact.AssemblyInfo.cs
XamarinPhoneContact/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/XamarinPhoneContact.AssemblyInfoInputs.cache
XamarinPhoneContact/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/XamarinPhoneContact.assets.cache
XamarinPhoneContact/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/XamarinPhoneContact.csproj.AssemblyReference.cache
XamarinPhoneContact/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/XamarinPhoneContact.GeneratedMSBuildEditorConfig.editorconfig
XamarinPhoneContact/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/XamarinPhoneContact.GlobalUsings.g.cs
XamarinPhoneContact/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/XamarinPhoneContact.nfloat.g.cs
XamarinPhoneContact/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
*.inputs
/XamarinPhoneContact/obj/Debug/net8.0-windows10.0.19041.0/win10-x64
/XamarinPhoneContact/obj
/XamarinPhoneContact
XamarinPhoneContact/XamarinPhoneContact.csproj.user
*.user
XamarinPhoneContact/XamarinPhoneContact.csproj.user
